#psn-peserta{
    overflow: auto;
}

#psn-peserta .container{
    width: 80vw;
    margin: 2vh auto;
    padding-left: auto;
    padding-right: auto;
}

#psn-peserta .title{
    padding-top: 3vh;
    text-align: center;
}

#psn-peserta table {
    width: 100%;
}  

#psn-peserta .form-peserta{
    width: 100vw;
}

#psn-peserta .form-container {
    display: flex;
    flex-direction: column;
}

#psn-peserta .submit-button{
    width: 20vw;
    height: 7vh;
    margin-left: auto;
    margin-right: auto;
    background: none;
    border: solid 2px #3f51b5;
}

#psn-peserta .submit-button:hover{
    background-color: #3f51b5;
    color: aliceblue;
    transition: 0.5s;
}

#psn-peserta .submit-button span{
    padding-top: 3vh;
    padding-bottom: 3vh;
    font-size: 1.5em;
}

#psn-peserta .edit-button{
    font-size: 1em;
    width: 6vw;
    height: 3vh;
    background: none;
    border: solid 1px #87f779;
    color: #87f779;
    border-radius: 10px;
}

#psn-peserta .edit-button:hover{
    background: #87f779;
    color: aliceblue;

    transition: 0.5s;
}

#psn-peserta .delete-button{
    font-size: 1em;
    width: 6vw;
    height: 3vh;
    background: none;
    border: solid 1px #f9787b;
    color: #f9787b;
    border-radius: 10px;
}

#psn-peserta .delete-button:hover{
    background: #f9787b;
    color: aliceblue;

    transition: 0.5s;
}