<!-- Slide 8 Start -->

<div id="slide-8">
  <div class="main-container">
      <div class="container">
          <span style="font-size: 5em; color: #3b73c5;">
              <i class="fas fa-map-marked-alt"></i>
          </span>
          <p>Contact</p>
      </div>            
  </div>
</div>                        

<!-- Slide 8 End -->

<!-- Slide 9 Start -->

<div id="slide-9">
  <div class="container text-center">
      <img id="logo-psn" class="img-fluid" src="../../../assets/image/logo-new-size.png" alt="logo-psn">
      
      <br>

      <div class="psn-map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m19!1m8!1m3!1d253760.22739712338!2d106.812601!3d-6.393542!3m2!1i1024!2i768!4f13.1!4m8!3e0!4m0!4m5!1s0x2e69c4b758d5c1b5%3A0x89b0802179c78bdf!2sDepartemen+Ilmu+Komputer+FMIPA+IPB%2C+Jln.+Meranti+Wing+20+Level+5+Kampus+IPB%2C+Babakan%2C+Kec.+Dramaga%2C+Bogor%2C+Jawa+Barat+16680!3m2!1d-6.5581732!2d106.7311206!5e0!3m2!1sid!2sid!4v1564324717106!5m2!1sid!2sid" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>

      <br>

      <div class="psn-paragraph">
          <div class="row">
              <div class="col-6 col-sm-4 col-md-4 col-lg-4">
                  <!-- Twitter -->
                  <a target="_blank" href="https://twitter.com/pestasainsipb" class="tw-ic psn-icon">
                      <i class="fab fa-twitter"> </i>
                  </a>
              </div>
              <div class="col-6 col-sm-4 col-md-4 col-lg-4">
                  <!--Instagram-->
                  <a target="_blank" href="https://www.instagram.com/pestasainsipb" class="ins-ic psn-icon">
                      <i class="fab fa-instagram"> </i>
                  </a>
              </div>
              <div class="col-6 col-sm-4 col-md-4 col-lg-4">
                  <!--Line-->
                  <a target="_blank" href="https://line.me/R/ti/p/@455hhzcc" class="ins-ic psn-icon">
                      <i class="fab fa-line"> </i>
                  </a>
              </div>
          </div>
      </div>
  </div>    
</div>

<!-- Slide 9 End -->
