<!-- Slide 1 Start -->

<!--Carousel Wrapper-->
<div id="homepage" class="carousel slide">
  <!--Mask color-->
  <div id="slide-1" class="view">
      <!--Video source-->

      <!-- <img src="../../../assets/image/dashboard/forest.jpg;" alt="psn-bg" style="object-fit: cover;"> -->
      <!-- <video id="video" class="video-fluid" autoplay loop>
          <source src="https://mdbootstrap.com/img/video/Tropical.mp4" type="video/mp4" />
      </video> -->
      <!-- <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div> -->
  </div>

  <!--Caption-->
  <div class="carousel-caption">
      <div class="animated fadeInDown">
          <img id="logo-psn" class="img-fluid" src="../../../assets/image/Logo-Tulisan-PSN.webp" alt="logo-psn">
          <!-- <h3 class="h3-responsive">Butuh Kata-Kata</h3> -->
          <p class="desktop-text">Pesta Sains Nasional merupakan ajang sains tahunan persembahan Fakultas Matematika dan Ilmu Pengetahuan Alam IPB University. Kegiatan ini berupa perlombaan, talkshow dan kegiatan sains menarik lainnya. Setiap Perlombaan yang ada di PSN melibatkan 8 departemen yang berada di FMIPA IPB dengan masing-masing cabang lomba.</p>

          <p class="mobile-text">Pesta Sains Nasional merupakan ajang sains tahunan persembahan Fakultas Matematika dan Ilmu Pengetahuan Alam IPB University. Kegiatan ini berupa perlombaan, talkshow dan kegiatan sains menarik lainnya.</p>            
      </div>
  </div>
  <!--Caption-->
</div>
<!--Carousel Wrapper-->

<!-- Slide 1 End -->
