
<!-- Slide 2 Start -->

<div id="slide-2">
  <div class="container text-center">
      <img id="logo-psn" class="img-fluid" src="../../../assets/image/logo-new-size.png" alt="logo-psn">
      <h3 class="h3-responsive">Pesta Sains Nasional 2019</h3>
      <br>
      <div class="psn-paragraph">
          <p class="text-justify">
              Pesta Sains Nasional (PSN) merupakan salah satu bentuk ajang perlombaan yang menjadi wadah siswa/i SMA/MA dari seluruh wilayah Indonesia untuk berkompetisi dan bereksplorasi tentang sains.
          </p>            
          <p class="text-justify">
              Pesta Sains Nasional 2019 mengangkat tema “Treasure of Science” yang berkaca dari tidak terbatasnya Ilmu Pengetahuan, maka akan ada penemuan-penemuan baru di bidang sains yang berasal dari pemikiran manusia dengan diibaratkan sebagai harta karun yang dimiliki oleh generasi muda Indonesia.
          </p>
          <p class="text-justify">
              Ada Pertanyaan lainnya ? Silahkan Hubungi Kami di <a target="_blank" href="mailto:pestasains@apps.ipb.ac.id"><span class="email">pestasains@apps.ipb.ac.id</span></a>
          </p>
      </div>
  </div>    
</div>

<!-- Slide 2 End -->