<!-- Slide 6 Start -->

<div id="slide-6">
  <div class="main-container">
      <div class="container">
          <span style="font-size: 5em; color: #3b73c5;">
              <i class="fas fa-images"></i>
          </span>
          <p>Dokumentasi PSN 2018</p>
      </div>            
  </div>
</div>                        

<!-- Slide 6 End -->

<!-- Slide 7 Start -->

<div id="slide-7">
<div class="container">
  <br>
  <!-- Deck Start -->
  <div class="row">

      <!-- Card Start -->
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 py-3">
          <div class="card mb-3">                    
              <!--Card image-->
              <div class="view overlay text-center">
                  <img class="card-img-top" src="../../../assets/image/foto/psn-1.jpg" alt="psn-1">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
              </div>              
          </div>
      </div>
      <!-- Card End -->

      <!-- Card Start -->
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 py-3">
          <div class="card mb-3">                    
              <!--Card image-->
              <div class="view overlay text-center">
                  <img class="card-img-top" src="../../../assets/image/foto/psn-2.jpg" alt="psn-2">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
              </div>              
          </div>
      </div>
      <!-- Card End -->
      
      <!-- Card Start -->
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 py-3">
          <div class="card mb-3">                    
              <!--Card image-->
              <div class="view overlay text-center">
                  <img class="card-img-top" src="../../../assets/image/foto/psn-3.jpg" alt="psn-3">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
              </div>              
          </div>
      </div>
      <!-- Card End -->

      <!-- Card Start -->
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 py-3">
          <div class="card mb-3">                    
              <!--Card image-->
              <div class="view overlay text-center">
                  <img class="card-img-top" src="../../../assets/image/foto/psn-4.jpg" alt="psn-4">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
              </div>              
          </div>
      </div>
      <!-- Card End -->

      <!-- Card Start -->
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 py-3">
          <div class="card mb-3">                    
              <!--Card image-->
              <div class="view overlay text-center">
                  <img class="card-img-top" src="../../../assets/image/foto/psn-5.jpg" alt="psn-5">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
              </div>              
          </div>
      </div>
      <!-- Card End -->
      
      <!-- Card Start -->
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 py-3">
          <div class="card mb-3">                    
              <!--Card image-->
              <div class="view overlay text-center">
                  <img class="card-img-top" src="../../../assets/image/foto/psn-6.jpg" alt="psn-6">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
              </div>              
          </div>
      </div>
      <!-- Card End -->

      <!-- Card Start -->
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 py-3">
          <div class="card mb-3">                    
              <!--Card image-->
              <div class="view overlay text-center">
                  <img class="card-img-top" src="../../../assets/image/foto/psn-7.jpg" alt="psn-7">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
              </div>              
          </div>
      </div>
      <!-- Card End -->

      <!-- Card Start -->
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 py-3">
          <div class="card mb-3">                    
              <!--Card image-->
              <div class="view overlay text-center">
                  <img class="card-img-top" src="../../../assets/image/foto/psn-8.jpg" alt="psn-8">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
              </div>              
          </div>
      </div>
      <!-- Card End -->
      
      <!-- Card Start -->
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 py-3">
          <div class="card mb-3">                    
              <!--Card image-->
              <div class="view overlay text-center">
                  <img class="card-img-top" src="../../../assets/image/foto/psn-9.jpg" alt="psn-9">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
              </div>              
          </div>
      </div>
      <!-- Card End -->
      
  </div>
  <!-- Deck End -->   
</div>            
</div>

<!-- Slide 7 End -->
