<!-- Nav Start -->

<nav id="psn-nav" class="navbar navbar-expand-lg fixed-top scrolling-navbar">
  <a class="navbar-brand" href="#">
      <img src="../../assets/image/logo-new.png" alt="pesta-sains-logo">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><i class="fas fa-chevron-down" style="color: aliceblue"></i></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#homepage">Home</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#slide-2">Tentang PSN</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#slide-4">Kompetisi</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#slide-7">Galeri</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#slide-8">Kontak</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#slide-5">Download Pengumuman</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#slide-10">FAQ</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="login" style="color: #e76d64; font-weight: 700">Login</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Nav End -->