
<!-- Footer Start -->

<!-- Footer -->
<footer class="page-footer font-small dark-bg pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mt-md-0 mt-3">

        <!-- Content -->
        <div class="text-left" style="margin: 5% auto;">
          <h5 class="text-uppercase">Pesta Sains Nasional 2019</h5>
          <p>Pesta Sains Nasional (PSN) merupakan salah satu bentuk ajang perlombaan yang menjadi wadah siswa/i SMA/MA dari seluruh wilayah Indonesia untuk berkompetisi dan bereksplorasi tentang sains.</p>      
        </div>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 mt-md-0 mt-3 text-center">

        <!-- Content -->
        <img class="img-fluid" src="../../assets/image/Logo-Tulisan-PSN.webp" alt="Logo PSN" style="width: 60%; height: auto; margin: -10% 10%;">
        <p>Sekretariat BEM FMIPA IPB Gedung Student Center FMIPA IPB, Jalan Meranti Kampus IPB Dramaga, Bogor, 16680.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-4 mt-md-0 mt-3">

        <!-- Content -->
        <div class="text-left" style="margin: 0% auto;">
          <h5 class="text-uppercase">Contact Person</h5>
          <div class="row">
              <div class="col">
                  <p class="text-left">Raden Jedy</p>      
              </div>
              <div class="col">
                  <p class="text-left">: 0812-9365-6098</p>      
              </div>    
          </div>
          <div class="row">
              <div class="col">
                  <p class="text-left">Nurul Marfira</p>      
              </div>
              <div class="col">
                  <p class="text-left">: 0857-8792-7379</p>      
              </div>    
          </div>
          <div class="row">
              <div class="col">
                  <p class="text-left">Ivan A. Ferdiansah</p>      
              </div>
              <div class="col">
                  <p class="text-left">: 0859-4761-7038</p>      
              </div>    
          </div>

        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

    <hr>

    <!-- Grid row-->
    <div class="row">

        <!-- Grid column -->
        <div class="col-md-12 py-3">
            <div class="mb-3 flex-center">      
                <!-- Twitter -->
                <a target="_blank" href="https://twitter.com/pestasainsipb" class="tw-ic">
                  <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                </a>
                <!--Instagram-->
                <a target="_blank" href="https://www.instagram.com/pestasainsipb" class="ins-ic">
                  <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                </a>
                <!--Line-->
                <a target="_blank" href="https://line.me/R/ti/p/@455hhzcc" class="ins-ic">
                  <i class="fab fa-line fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                </a>
            </div>
        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row-->
  </div>

</footer>
<!-- Footer -->

<!-- Footer End -->

<!-- Copyright Start -->

<footer class="page-footer font-small extra-dark-bg">

<!-- Copyright -->
<div class="footer-copyright text-center py-3">© 2019 Copyright:
  <a href="http://pestasains.ipb.ac.id"> Pesta Sains 2019</a>
  Developed by <a href="https://codepanda.id">codepanda.id</a>
</div>
<!-- Copyright -->

</footer>

<!-- Copyright End -->