<div class="sidemenu">
  <mat-toolbar color="primary">PSN Admin App</mat-toolbar>
  <mat-nav-list>
    <a mat-list-item class="active-list-item">
      <mat-icon>home</mat-icon>
      <span class="nav-caption">Beranda</span>
    </a>
    <a mat-list-item>
      <mat-icon>school</mat-icon>
      <span class="nav-caption">Daftar Sekolah</span>
    </a>
    <a mat-list-item>
      <mat-icon>stars</mat-icon>
      <span class="nav-caption">Perlombaan</span>
    </a>
    <a mat-list-item>
      <mat-icon>airline_seat_individual_suite</mat-icon>
      <span class="nav-caption">Penginapan</span>
    </a>
    <a mat-list-item>
      <mat-icon>supervised_user_circle</mat-icon>
      <span class="nav-caption">Media Partner</span>
    </a>
    <a mat-list-item>
      <mat-icon>collections</mat-icon>
      <span class="nav-caption">Gallery</span>
    </a>
  </mat-nav-list>
  <mat-toolbar class="sidemenu-footer" color="primary">
    <p>Made with <mat-icon>favorite</mat-icon> by <a href="https://www.codepanda.id">Codepanda</a></p>
  </mat-toolbar>
</div>

