

<!-- Daftar Peserta Start -->
<section id="psn-lomba">
  <div class="container">
    <div class="card-grid">

      <mat-card>
        <mat-tab-group>
          <!-- List Guru dan Murid Start -->
          <mat-tab label="List Lomba Terdaftar"> 
            <!-- Card Start -->
            <mat-card>
              <mat-card-title class="title">
                Daftar Lomba Tersedia
              </mat-card-title>

            </mat-card>    
            <!-- Card End -->
          </mat-tab>
          <!-- Daftar Guru dan Murid End -->

        </mat-tab-group>
      </mat-card>          
      
    </div>
  </div>
</section>
<!-- Daftar Peserta End -->
