

<!-- Header Start -->
<app-header-homepage></app-header-homepage>
<!-- Header End -->

<!-- Body Start -->

  <!-- slide 1 Start -->
  <app-carousel></app-carousel>
  <!-- Slide 1 End -->

  <!-- Slide 2 Start -->
  <app-about></app-about>
  <!-- Slide 2 End -->

  <!-- Slide 3 Start -->
  <app-offer></app-offer>
  <!-- Slide 3 End -->

  <!-- Slide 4 & 5 Start -->
  <app-competition></app-competition>
  <!-- Slide 4 & 5 End -->

  <!-- Slide 6 & 7 Start -->
  <app-gallery></app-gallery>
  <!-- Slide 6 & 7 End -->

  <!-- Slide 8 & 9 Start -->
  <app-contact></app-contact>
  <!-- Slide 8 & 9 End -->

  <!-- Slide 10 Start -->
  <app-faq></app-faq>
  <!-- Slide 10 End -->

  <!-- Body End -->

<!-- Footer Start -->
<app-footer-homepage></app-footer-homepage>
<!-- Footer End -->