<!-- Login Start -->

<div id="psn-login">
  <div class="mask">
    <div class="login-container">
      <mat-card class="card-position">
        <mat-card-header>
          <h2>Login</h2>
        </mat-card-header>
  
        <mat-card-content>
          <div class="login-form">
            <mat-form-field>
              <input matInput placeholder="Masukkan email Anda" [formControl]="email" required>
              <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Masukkan password Anda" [type]="hide ? 'password' : 'text'">
              <mat-icon class="login-form_hidebutton" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
            <a href="admin/daftarlomba">
              <button mat-raised-button color="primary">Masuk</button>
            </a>
            <br>
            <a href="registration" style="text-align: center; padding-top: 3vh;">
              Belum punya akun? Daftar Sekarang!
            </a>
          </div>
          
        </mat-card-content>
      </mat-card>
    </div>        
  </div>
</div>

<!-- Login End -->
