<!-- Slide 10 Start -->

<div id="slide-10" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
      <li data-target="#slide-10" data-slide-to="0" class="active"></li>
      <li data-target="#slide-10" data-slide-to="1"></li>
      <li data-target="#slide-10" data-slide-to="2"></li>

      <li data-target="#slide-10" data-slide-to="3"></li>
      <li data-target="#slide-10" data-slide-to="4"></li>
      <li data-target="#slide-10" data-slide-to="5"></li>

      <li data-target="#slide-10" data-slide-to="6"></li>
  </ol>
  <div class="carousel-inner">
      <h1 class="text-crimson text-uppercase" style="text-align: center; margin-top: 20vh;">
          <span style="border-bottom: #e76d64 solid 2px; color: #e76d64; font-weight: 500;">FAQ</span>
      </h1>
      <div class="carousel-item active" style="min-height: 100vh;">
          <div>
              <div class="carousel-caption d-md-block text-crimson">
                  <h5>01. Kapan acara Pesta Sains Nasional 2019 diselenggarakan?</h5>
                  <p>Pesta Sains Nasional diselenggarakan pada tanggal 2 - 3 November 2019.</p>
              </div>
          </div>
      </div>
      <div class="carousel-item" style="min-height: 100vh;">
          <div>
              <div class="carousel-caption d-md-block text-crimson">
                  <h5>02. Apakah ada contoh -  contoh soal tahun sebelumnya?</h5>
                  <p>Ada, dan bank soal hanya bisa didownload jika sekolah sudah menyelesaikan administrasi pembayaran dan bisa didownload di web Pesta Sains Nasional 2019.</p>
              </div>
          </div>
      </div>
      <div class="carousel-item" style="min-height: 100vh;">
          <div>
              <div class="carousel-caption d-md-block text-crimson">
                  <h5>03. Biaya pendaftaran sebesar Rp 185.000 itu per tim atau individu ya?</h5>
                  <p>Biaya sebesar Rp 185.000 itu per orang ya bukan per tim. Jika satu tim terdiri dari 3 orang, maka biaya yang harus ditanggung ialah sebesar Rp 550.000.</p>
              </div>
          </div>
      </div>

      <div class="carousel-item" style="min-height: 100vh;">
          <div>
              <div class="carousel-caption d-md-block text-crimson">
                  <h5>04. Apakah boleh mengikuti kompetisi tanpa didampingi oleh pembina?</h5>
                  <p>Boleh saja, akan tetapi sangat dianjurkan didampingi oleh pembina dari sekolah masing - masing.</p>
              </div>
          </div>
      </div>
      <div class="carousel-item" style="min-height: 100vh;">
          <div>
              <div class="carousel-caption d-md-block text-crimson">
                  <h5>05. Apakah boleh jika kompetisi nya bersifat tim 3 orang tetapi kami hanya mendaftarkannya 2 orang saja?</h5>
                  <p>Tidak boleh, jika kompetisinya bersifat tim 3 orang maka wajib mengirimkan 3 orang peserta, begitu pula jika kompetisinya tim 2 orang.</p>
              </div>
          </div>
      </div>
      <div class="carousel-item" style="min-height: 100vh;">
          <div>
              <div class="carousel-caption d-md-block text-crimson">
                  <h5>06. Apa saja persyaratan mengikuti Pesta Sains Nasional 2019?</h5>
                  <p>Syarat dan ketentuan lomba dapat dilihat di buku panduan. Buku panduan bisa didownload di web Pesta Sains Nasional 2019.</p>
              </div>
          </div>
      </div>

      <div class="carousel-item" style="min-height: 100vh;">
          <div>
              <div class="carousel-caption d-md-block text-crimson">
                  <h5>07. Jika sekolah tidak diundang, apakah tetap diperbolehkan untuk mengikuti kompetisi?</h5>
                  <p>Tentu saja boleh. Jika sekolah ingin meminta undangan, maka dapat menghubungi Contact Person yang tertera di web Pesta Sains Nasional 2019.</p>
              </div>
          </div>
      </div>

  </div>
  <a class="carousel-control-prev" href="#slide-10" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#slide-10" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
  </a>
</div>

<!-- Slide 10 End -->