
<!-- Slide 3 Start -->

<div id="slide-3">
  <div class="container">
      <!-- Values Start -->
      <div id="paham-value-point" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">

              <!-- Slide Start -->
              <div class="carousel-item active">
                  <div class="mb-3">
                      <!--Card image-->
                      <div class="text-center view overlay">
                          <span style="font-size: 5em; color: #3b73c5;">
                              <i class="fas fa-book-reader"></i>
                          </span>
                          <a href="#!">
                              <div class="mask rgba-white-slight"></div>
                          </a>
                      </div>
                  
                      <!--Card content-->
                      <div class="card-body">
                          <h4 class="text-center card-title" style="color:#3b73c5; font-weight: 700">Belajar</h4>
                          <h5 class="text-muted text-center">PSN memberikan kesempatan luas untukmu belajar tentang banyak hal mengenai sains dan teknologi.</h5>
                      </div>
                  </div>            
              </div>
              <!-- Slide End -->

              <!-- Slide Start -->
              <div class="carousel-item">
                  <div class="mb-3">
                      <!--Card image-->
                      <div class="text-center view overlay">
                          <span style="font-size: 5em; color: #e66d63;">
                              <i class="fas fa-medal"></i>
                          </span>
                          <a href="#!">
                              <div class="mask rgba-white-slight"></div>
                          </a>
                      </div>
                  
                      <!--Card content-->
                      <div class="card-body">
                          <h4 class="text-center card-title" style="color:#e66d63; font-weight: 700">Berkompetisi</h4>
                          <h5 class="text-muted text-center">Siapkan dirimu layaknya bersaing menemukan harta karun sains versi dirimu sendiri!</h5>
                      </div>
                  </div>            
              </div>
              <!-- Slide End -->

              <!-- Slide Start -->
              <div class="carousel-item">
                  <div class="mb-3">
                      <!--Card image-->
                      <div class="text-center view overlay">
                          <span style="font-size: 5em; color: #e2a100;">
                              <i class="fas fa-laugh-squint"></i>
                          </span>
                          <a href="#!">
                              <div class="mask rgba-white-slight"></div>
                          </a>
                      </div>
                  
                      <!--Card content-->
                      <div class="card-body">
                          <h4 class="text-center card-title" style="color:#e2a100; font-weight: 700">Bersenang-senang</h4>
                          <h5 class="text-muted text-center">Bersenang-senang dan berpestalah bersama ribuan saintis muda Indonesia!</h5>
                      </div>
                  </div>            
              </div>
              <!-- Slide End -->

          </div>
      </div> 
      <!--Values End -->
  </div>
</div>

<!-- Slide 3 End -->