// Slide-3
#slide-3{
    background-color: #f4f7fb;
    min-height: 50vh;
    margin: 0% auto;
    padding-bottom: 20vh;
}

#slide-3 .container{
    padding-top: 10vh;
}

#slide-3 h3{
    font-family: 'Nunito', sans-serif;
    color: #3b73c5;
    font-size: 3em;
    text-align: center;
}
