#psn-pembayaran{
    overflow: auto;
}

#psn-pembayaran .container{
    width: 80vw;
    margin: 2vh auto;
    padding-left: auto;
    padding-right: auto;
}

#psn-pembayaran .title{
    padding-top: 3vh;
    text-align: center;
}

#psn-pembayaran table {
    width: 100%;
}  

#psn-pembayaran .form-guru{
    width: 100vw;
}

#psn-pembayaran .form-container {
    display: flex;
    flex-direction: column;
}

#psn-pembayaran .submit-button{
    width: 20vw;
    height: 7vh;
    margin-left: auto;
    margin-right: auto;
    background: none;
    border: solid 2px #3f51b5;
}

#psn-pembayaran .submit-button:hover{
    background-color: #3f51b5;
    color: aliceblue;
    transition: 0.5s;
}

#psn-pembayaran .submit-button span{
    padding-top: 3vh;
    padding-bottom: 3vh;
    font-size: 1.5em;
}

#psn-pembayaran .status-open{
    color: #00C851;
    font-size: 1.2em;
    font-weight: 500;
}

#psn-pembayaran .status-closed{
    color: #ff4444;
    font-size: 1.2em;
    font-weight: 500;
}