

<!-- Daftar Peserta Start -->
<section id="psn-peserta">
  <div class="container">
    <div class="card-grid">

      <mat-card>
        <mat-tab-group>
          <!-- List Guru dan Murid Start -->
          <mat-tab label="List Murid & Guru"> 
            <!-- Card Start -->
            <mat-card>
              <mat-card-title>
                Daftar Murid dan Guru Pendamping
              </mat-card-title>

            </mat-card>    
            <!-- Card End -->
          </mat-tab>
          <!-- Daftar Guru dan Murid End -->

          <!-- Daftar Guru Pendamping Start -->
          <mat-tab label="Tambahkan Guru Pendamping"> 
            <!-- Card Start -->
            <mat-card>
              <mat-card-title>
                Tambahkan Guru Pendamping
              </mat-card-title>
              Simple card
            </mat-card>    
            <!-- Card End -->
          </mat-tab>
          <!-- Daftar Guru Pendamping End -->

          <!-- Daftar Siswa Start -->
          <mat-tab label="Tambahkan Murid"> 
            <!-- Card Start -->
            <mat-card>
              <mat-card-title>
                Tambahkan Murid
              </mat-card-title>
              Simple card
            </mat-card>    
            <!-- Card End -->
          </mat-tab>
          <!-- Daftar Siswa End -->
        </mat-tab-group>
      </mat-card>          
      
    </div>
  </div>
</section>
<!-- Daftar Peserta End -->
