

<!-- Daftar Peserta Start -->
<section id="psn-finalisasi">
  <div class="container">
    <div class="card-grid">

      <mat-card>
        <mat-tab-group>
          <!-- List Finalisasi Start -->
          <mat-tab label="Daftar Status Pembayaran"> 
            <!-- Card Start -->
            <mat-card>
              <mat-card-title class="title">
                Daftar finalisasi Tersedia
              </mat-card-title>

              <br>

              <table mat-table [dataSource]="daftarfinalisasi" class="mat-elevation-z8">
              
                <!-- Position Column -->
                <ng-container matColumnDef="indexNumber">
                  <th mat-header-cell *matHeaderCellDef> No. </th>
                  <td mat-cell *matCellDef="let data; let i = index"> {{index(i)}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Nama finalisasi </th>
                  <td mat-cell *matCellDef="let data"> {{data.name}} </td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="memberPerTeam">
                  <th mat-header-cell *matHeaderCellDef> Maksimal peserta dalam Tiap Tim </th>
                  <td mat-cell *matCellDef="let data"> <b>{{data.memberPerTeam}}</b> Peserta</td>
                </ng-container>
              
                <!-- Symbol Column -->
                <ng-container matColumnDef="maxTeam">
                  <th mat-header-cell *matHeaderCellDef> Sisa Kuota tersedia </th>
                  <td mat-cell *matCellDef="let data"> <b>{{teamQuota(data.maxTeam, data.registeredTeam)}}</b> Tim</td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="registrationStatus">
                  <th mat-header-cell *matHeaderCellDef> Status Pendaftaran </th>
                  <td mat-cell *matCellDef="let data">
                    <span class="status-open"  *ngIf="data.registrationStatus === 'open'">{{data.registrationStatus}}</span>
                    <span class="status-closed"  *ngIf="data.registrationStatus === 'closed'">{{data.registrationStatus}}</span>
                  </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

            </mat-card>    
            <!-- Card End -->
          </mat-tab>
          <!-- Daftar Guru dan Murid End -->

        </mat-tab-group>
      </mat-card>          
      
    </div>
  </div>
</section>
<!-- Daftar Peserta End -->
