

<!-- Daftar Peserta Start -->
<section id="psn-finalisasi">
  <div class="container">
    <div class="card-grid">

      <mat-card>
        <mat-tab-group>
          <!-- List Finalisasi Start -->
          <mat-tab label="Finalisasi Rincian Pembayaran"> 
            <!-- Card Start -->
            <mat-card>
              <div style="text-align: center;">
                  <img src="../../../../assets/img/logo-new-size.png" alt="logo-psn" style="width: 30vw; height: auto;">
              </div>
              <mat-card-title class="title">
                Finalisasi Rincian Pembayaran
              </mat-card-title>

              <br>

              <p class="table-title">Rincian Guru</p>
              <hr>
              <mat-grid-list class="section-title" cols="4" rowHeight="30px">
                <mat-grid-tile><div class="table-text-title">Nama Guru Pendamping</div></mat-grid-tile>
                <mat-grid-tile><div class="table-text-title">&nbsp;</div></mat-grid-tile>
                <mat-grid-tile><div class="table-text-title">&nbsp;</div></mat-grid-tile>
                <mat-grid-tile><div class="table-text-title">Harga</div></mat-grid-tile>
                <mat-grid-tile><div class="table-text name">Guru 1</div></mat-grid-tile>
                <mat-grid-tile><div class="table-text-title">&nbsp;</div></mat-grid-tile>
                <mat-grid-tile><div class="table-text-title">&nbsp;</div></mat-grid-tile>
                <mat-grid-tile><div class="table-text price">Rp. 50.000</div></mat-grid-tile>
                <mat-grid-tile><div class="table-text name">Guru 2</div></mat-grid-tile>
                <mat-grid-tile><div class="table-text-title">&nbsp;</div></mat-grid-tile>
                <mat-grid-tile><div class="table-text-title">&nbsp;</div></mat-grid-tile>
                <mat-grid-tile><div class="table-text price">Rp. 50.000</div></mat-grid-tile>
              </mat-grid-list>
              
              <hr>

              <p class="table-title">Rincian Tim</p>
              <hr>
              <mat-grid-list class="section-title" cols="4" rowHeight="30px">
                <mat-grid-tile><div class="table-text-title">Nama Tim</div></mat-grid-tile>
                <mat-grid-tile><div class="table-text-title">&nbsp;</div></mat-grid-tile>
                <mat-grid-tile><div class="table-text-title">&nbsp;</div></mat-grid-tile>
                <mat-grid-tile><div class="table-text-title">Harga</div></mat-grid-tile>
                <mat-grid-tile><div class="table-text name">Tim 1</div></mat-grid-tile>
                <mat-grid-tile><div class="table-text lomba">(CPSC)</div></mat-grid-tile>
                <mat-grid-tile><div class="table-text-title">&nbsp;</div></mat-grid-tile>
                <mat-grid-tile><div class="table-text price">Rp. 50.000</div></mat-grid-tile>
                <mat-grid-tile><div class="table-text name">Tim 2</div></mat-grid-tile>
                <mat-grid-tile><div class="table-text lomba">(Metrix)</div></mat-grid-tile>
                <mat-grid-tile><div class="table-text-title">&nbsp;</div></mat-grid-tile>
                <mat-grid-tile><div class="table-text price">Rp. 50.000</div></mat-grid-tile>
              </mat-grid-list>

              <p class="table-title section-last">Total Pembayaran</p>
              <hr>
              <mat-grid-list class="section-title" cols="4" rowHeight="30px">
                <mat-grid-tile><div class="table-text name last">Total</div></mat-grid-tile>
                <mat-grid-tile><div class="table-text-title">&nbsp;</div></mat-grid-tile>
                <mat-grid-tile><div class="table-text-title">&nbsp;</div></mat-grid-tile>
                <mat-grid-tile><div class="table-text price last">Rp. 650.000</div></mat-grid-tile>
              </mat-grid-list>

            </mat-card>    
            <!-- Card End -->
          </mat-tab>
          <!-- Daftar Guru dan Murid End -->

        </mat-tab-group>
      </mat-card>          
      
    </div>
  </div>
</section>
<!-- Daftar Peserta End -->
